*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a9a9a9;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    height: auto;
    margin: 100px auto;
    max-width: 900px;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0px 0px 10px 5px #888888;
    
}

.apply_box{
    max-width: 100%;
    /* background-color: black;
    color: white; */
    height: 100%;
    padding: 1px;
    
}
.apply_box h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
}
.apply_box span{
    font-size: 25px;
    font-weight: 200;
}


/* ---------------------------------------------------- */

.form_container{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 40px;
    margin-top: 40px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

.form_control label{
    font-size: 15px;
    margin-bottom: 5px;
}


.form_control input, select, textarea{
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    
}

.form_control input:focus, textarea:focus, select:focus{
    
    outline-color: rgb(0, 85, 255);
}

.form_control input{
    height: 50px;
    width: 100%;
    
}

.button_container {
    display: flex;
    justify-content: flex-end;
}

.button_container button{
    margin-top: 40px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 85, 255);
    color: white;
    font-size: 15px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: rgb(0, 85, 255);
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.textarea_control{
    grid-column: 1/span 2;
}

.textarea_control textarea{
    width: 100%;
}

@media(max-width: 768px){
    .form_container{
        grid-template-columns: 1fr;
    }
    .textarea_control{
        grid-column: 1;
    }
    .form_control input{
        width: 100%;
    }
    .apply_box h1{
        font-size: 30px;
    }
    .apply_box span{
        font-size: 20px;
    }
}