@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Merienda:wght@300..900&family=Play:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Jura", sans-serif;

    color: lightgray;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 100px;
}

.back-vid {
    position: fixed;
    right: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: overlay;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(10px);
    padding: 0 30px;
    box-shadow: 0 0 15px #72a1de8d;
    z-index: 999;
}

.left {
    display: flex;
    align-items: center;
}

.left img {
    height: 40px;
    width: 40px;
    margin: 0 15px;
    border-radius: 50%;

}

header ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.30);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #727fde65;
}

header ul li {
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin: 0 10px;
}

.box-icons {
    display: flex;
    gap: 40px;

}

.box-icons a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #727fde;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.box-icons a:hover {
    background-color: #727fde;
    color: black;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 15px #727fde65;
}

.blackhole-box {
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    mix-blend-mode: lighten;
}

.blackhole-box video {
    width: 100%;
    margin-top: -23.5%;

}

.hero{
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.hero-info{
    position: absolute;
    left: 5%;
}
.hero-info .hero-info-title{
    color: #727fde;
    padding: 8px 5px;
    border: 1px solid #727fde77;
    width: 255px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde88;
    border-radius: 50px;
}

.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;


}

.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 18px;
}

.hero-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 2px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.hero-info button:hover{
    box-shadow: 0 0 15px #727fde86;
    transition: 0.3s ease-in-out;
}





@media (max-aspect-ratio: 16/9) {

    .back-vid {
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9) {

    .back-vid {
        width: 100%;
        height: auto;
    }
}