@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
.hero_section{
    background-image: url(assets/developer.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.text_container{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
}

.lg_text{
    font-size: 72px;
    font-weight: 400;
}

.black_box{
    background-color: rgb(18, 18, 18); 
    padding: 20px;
}
.text_prop h2{
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 72px;
    
}
.text_prop span{
    font-size: 96px;
    font-weight: 400;
}

.work{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    margin: 50px auto;
    max-width: 1100px;
}
.grid_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    
    max-width: 320px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
    transition: 0.3s ease-in-out;
    
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1,1,1,0.3);
    transition: 0.3s ease-in-out;
}
.card_content{
    padding: 20px; 
}

.card_content h3{
    margin-bottom: 10px;
}

.footer{
    display: flex;

}
.contact{
    background-color: #515603;
    color: white;
    padding: 32px;
    
}
.about{
    min-height: 300px;
    background-color: #722300;
    color: white;
    padding: 32px;
    
}
.about p, .contact p{
    margin-bottom: 20px;
}
.about h2,
.contact h2 {
    font-size: 64px;
    font-weight: 300;
}

.foot_footer{
    background-color: black;
}
.foot_footer h3{
    color: white;
    text-align: center;
    padding: 30px;
    font-weight: 300;
}

.foot_footer h3:hover{
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width:786px){
    .hero_section{
        min-height: 50vh;
    }
    .text-container{
        padding: 10px 0;
        text-align: center;
    }
    .lg_text{
        font-size: 32px;
    }

    .black_box h2{
        font-size: 24px;
    }
    
    .black_box span{
        font-size: 32px;
        font-weight: 400;
    }

    .footer{
        flex-direction: column;
    }
    h1{
        font-size: 32px;
    }

    .about h2, .contact h2{
        font-size: 32px;
    }
}