@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

/* Navigation */
nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background-color: white;
    padding: 10px;
    z-index: 50;
}

button {
    padding: 10px 15px;
    border: none;
    transition: 0.3s ease-in-out;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bar_icons {
    font-size: 32px;
}

.logo_container img {
    width: 80px;
    height: auto;
}


/* Hero section */

.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag {
    background-color: greenyellow;
    padding: 10px;
    align-self: flex-start;
}

.hero_content h1 {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 300;
}

.explore_btn {
    background: #ffc066;
    align-self: flex-start;
}

.features {
    margin-top: 100px;
    display: flex;
    gap: 14px;
    justify-content: center;
    margin-bottom: 50px;
}

.feature {
    display: flex;
    gap: 20px;
    /* margin-bottom: 300px; */
    padding: 10px;
    border-radius: 10px;
}

.feature img {
    width: 50px;
    height: 50px;
}

.feature:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 20px rgba(1, 1, 1, 0.2);
    cursor: pointer;
}

.feature:hover img {
    transition: 0.5s ease-in-out;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.dividor {
    margin-bottom: 100px;
    width: 100%;
}

.dividor hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #ccc, transparent);
    filter: blur(1px);
    opacity: 0.8;
}

/* .tag_menu{
    text-align: center;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
} */

/* .menu h2 {
    text-align: center;
    margin-bottom: 100px;
} */

/* Menu section */

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}

.tag_menu {
    border-radius: 5px;
}

.tag_menu:hover {
    transition: 0.07s ease-in-out;
    border: 2px solid black;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.menu .tag {
    align-self: center;
}

.grid {
    display: grid;
    gap: 10px;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas:
        "I1 I1 I2 I3"
        "I1 I1 I2 I7"
        "I4 I5 I6 I7";
}

.grid-image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.grid-image:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}



.item1 {
    grid-area: I1;
}

.item2 {
    grid-area: I2;
}

.item3 {
    grid-area: I3;
}

.item4 {
    grid-area: I4;
}

.item5 {
    grid-area: I5;
}

.item6 {
    grid-area: I6;
}

.item7 {
    grid-area: I7;
}

/* Footer section */

footer{
    background-color: #fff0db;
}

.link_lists h3{
    margin-bottom: 10px;
    color: grey;
}

.link_lists ul{
    list-style: none;
}
.link_lists ul li {
    font-size: 16px;
    margin-bottom: 5px;
}
.news_letter{
    margin-bottom: 10px;
    color: grey;
}

.news_letter input{
    padding: 5px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.footer_container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}
.icon_container{
    display: flex;
}
.icon{
    margin-right: 10px;
}
.icon:hover{
    transition: 0.3s ease-in-out;
    color: black;
    font-size: large;
}






@media (max-width:786px) {
    .hero {
        flex-direction: column;
    }

    .hero_img {
        display: flex;
        justify-content: center;
    }

    .hero_img img {
        width: 80%;
    }

    .hero_content {
        gap: 10px;
        padding: 10px;
    }

    .hero_content h1 {
        font-size: 32px;
        line-height: 1.2;
    }
    .features{
        flex-direction: column;
    }
    .feature{
        flex-direction: column;
    }
    .grid{
        padding: 10px;
    }

    .grid-image{
        border-radius: 0px;
    }
    .footer_container{
        flex-direction:column;
    }
}